<section id="publication">
<div class="container">
  <h3>INTERNATIONAL CONFERENCE:</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-file-text-o"></i>&nbsp;&nbsp;
			Po-Chin Wang, C.-P. Chen, C.-L. Lu, B.-C. Chan, S.-W. Hsiao, "<strong><a href="https://sdsvc.github.io/descriptions/Team18_Both.pdf">The NSYSU+CHT System Description for SdSV Challenge 2020</a></strong>".
		</h5>
		<h5>
			<i class="fa fa-file-text-o"></i>&nbsp;&nbsp;
			Po-Chin Wang, C.-P. Chen, C.-L. Lu, B.-C. Chan, S.-W. Hsiao, "<strong><a href="https://www.isca-speech.org/archive/Odyssey_2020/pdfs/33.pdf">Improving Embedding-based Neural-Network Speaker Recognition</a></strong>" in Proc. ODYSSEY, 2020. 
		</h5>
		<h5>
			<i class="fa fa-file-text-o"></i>&nbsp;&nbsp;
			C.-L. Huang, Po-Chin Wang, "<strong><a href="{{ site.baseurl }}static/pdf/system_description_CTS-Challenge_PingAn.pdf">The PingAn System Description to the NIST SRE 2019</a></strong>" in the NIST-SRE Workshop 2019.
		</h5>
		<h5>
			<i class="fa fa-file-text-o"></i>&nbsp;&nbsp;
			Po-Chin Wang, C.-P. Chen, C.-L. Huang, "<strong><a href="{{ site.baseurl }}static/pdf/system_description_CTS-Challenge_NSYSU-PingAn.pdf">The NSYSU-PingAn System Description to the NIST SRE 2019</a></strong>" in the NIST-SRE Workshop 2019.
		</h5>
	</div>
  </div>
  <h3>NATIONAL CONFERENCE:</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-file-text-o"></i>&nbsp;&nbsp;
			C.-T. Yeh, Po-Chin Wang, S.Y. Zhang, C.-P. Chen, S.-W. Hsiao, B.-C. Chan, C.-L. Lu "<strong><a href="http://www.aclclp.org.tw/rocling/2019/O19-1029.pdf">Time Delay Neural Network-based Speaker Embedding Function Fine-tuned with Triplet Loss for Distance-based Speaker Recognition</a></strong>" Proceedings of ROCLING XXXI, Taipei, Taiwan, 2019.
		</h5>
	</div>
  </div>
</div>
</section>
